/* Base Style */

body{
    background-image: url("sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}
a{text-decoration: none;}

h1

p{color: black;}

/* Header*/

header{
    width: 100%;
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding: 8px;
    display: flex;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    height: 70px;
    display: inline-block;
    text-align: center;
}

.logo{
    float: left;
}
.logo img{
    width: 100px;
    margin-left: 10px;
}

header h1{
    margin-top: 5px;
    color:white;
    font-size: 40px;
    font-style: italic;
}

header p{
    /* color: white; */
    color: black;
    font-size: 25px;
}

/* Carousel */
.container-foto img{min-height: 500px; min-width: 100%;}
.main-carousel{}
.carousel-cell{width: 100%; margin-top: 0-px; height: 500px; overflow: hidden;}

.primo{
    margin-top: 100px;
}

/* Contenitore video cavalli */

.vcavalli {
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
text-align: center;
}

.vcavalli h2 {
font-size: 40px;
color: white;
letter-spacing: 2px;
border: 8px solid;
padding: 12px 15px;
margin: 0;
text-transform: uppercase;
text-align: center;
font-family: arial;
}

.vcavalli p {
font-style: italic;
color:white;
font-size: 24px;
font-weight: bold;
padding-top: 16px;
margin: 0;
}

