/* Base Style */

body{
    background-image: url("sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}
a{text-decoration: none;}

h1{
    font-size: 40px;
    text-align: center;
}

p{color: black;}

/* Header*/

header{
    width: 100%;
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding: 8px;
    display: flex;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    height: 70px;
    display: inline-block;
    text-align: center;
}

.logo{
    float: left;
}
.logo img{
    width: 100px;
    margin-left: 10px;
}

header h1{
    margin-top: 5px;
    color:white;
    font-size: 40px;
    font-style: italic;
}

header p{
    /* color: white; */
    color: black;
    font-size: 25px;
}

video{
    display: flex;
}

/* Carousel */
.container-foto img{height: 400px; width: 400px;}
.main-carousel{}
.carousel-cell{
    margin-top: 0px; 
    height: 400px; 
    width: 400px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 30px;
}

.primo{
    margin-top: 100px;
}

/* Contenitore video cavalli */

.vcavalli {
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
text-align: center;
}

.vcavalli h2 {
font-size: 40px;
color: white;
letter-spacing: 2px;
border: 8px solid;
padding: 12px 15px;
margin: 0;
text-transform: uppercase;
text-align: center;
font-family: arial;
}

.vcavalli p {
font-style: italic;
color:white;
font-size: 24px;
font-weight: bold;
padding-top: 16px;
margin: 0;
}

/* Descrizione cavallo*/

.containerc{margin-top: 150px;}

.descrzionec{float: left; width: 50%;}

.descrzionec h1{
    margin-top: 5px;
    color:black;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

.descrzionec p{
    margin-top: 15px;
    color:black;
    font-size: 30px;
    font-style: italic;
    margin-left: 20px;
    text-align: center;
}

/* Carousel di ogni cavallo*/

.colori{float: left; width: 50%;}

.container-foto1 img{height: 400px; width: 400px;}

.carousel-cell1{
    margin-top: 0px; 
    height: 400px; 
    width: 400px;
    overflow: hidden;
}


/* MAPPA */
.mappa{
    border: solid red;
    text-align: center;
}

.fotoluoghi{
    height: max-content;
    
    border: red solid;
}
